<div id="cv">
    <ul>
    <li routerLinkActive="active">
      <a routerLink="/competences">Compétences</a>
    </li>

      <li routerLinkActive="active">
        <a routerLink="/interets">Centres d'intéret</a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="/parcours">Parcours</a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="/prix">Prix</a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="/infos">Coordonnées</a>
      </li>
    </ul>
</div>
